*.tfstate
*.tfstate.backup
.terraform
*graph.png
access.json
access_key
access_key.pub
certificate.pem
chain_certificate.pem
private.key
api_key
app_key
.DS_Store
*.key
*.pem
*.pub
keys/*
!keys/.gitkeep
!keys/service_account
!keys/service_account/.gitkeep
